.page.about

  .background
    .planet-wrap
      include ..\..\_pics\about\planet.svg
    .matt-floating-wrap
      include ..\..\_pics\about\matt_floating.svg
  .overlay
  .page-content
  
    .menu-wrap.about
      .menu-links
        a.link(data-targ-page="home" href="#") Home
        a.link(data-targ-page="portfolio" href="#portfolio") Portfolio
        a.link(data-targ-page="skills" href="#skills") Skills

      .show-menu

    
    .content-wrapper
      
      .top-content(data-has-scroll="true" data-scroll-dir="column")
        .scroll-bar
          .tracer
        .info-wrap
          .title Web Development / Media Production / Programming
          .desc
            |  Hello! My name is Matthew Haslem. I am an aspiring Web Developer with over a decade worth of experience in both front-end and back-end development. I am currently a student studying Computer Science at Old Dominion University. I expect to graduate in December of 2021 and use this degree, along with my first (B.S. in Communications), to secure a career somewhere in the Computer Science field. 
            
        .learn-more-wrap
          .title Learn More:
          
          .butt-wrap
            .butt(data-moon-cat-target="web-dev")
              .img-wrap
                include ../../_pics/_icons/web_dev.svg
              .title Web Development
            
            .butt(data-moon-cat-target="graphic")
              .img-wrap
                include ../../_pics/_icons/paint_brush.svg
              .title Media Production
            
            .butt(data-moon-cat-target="programming")
              .img-wrap
                include ../../_pics/_icons/programming.svg
              .title Programming
            
            .butt(data-moon-cat-target="contact")
              .img-wrap
                include ../../_pics/_icons/contact.svg
              .title Contact
            
      
      
      

      .moon-wrap(data-has-scroll="true" data-scroll-dir="column" data-scroll-pos="inner")
        .exit-button
          include ../../_pics/_icons/white_x.svg
        .scroll-bar 
          .tracer
        .moon-border
          img(src="_pics/about/moon.png")
        .moon-content-wrap
          .moon-content
            .section(data-cat="web-dev")
              .img-wrap
                include ../../_pics/about/web-dev.svg
              .section-content
                .title Web Development
                .desc
                  |  I began working on websites back when my friends and I got tired not being able to play flash games in our Middle School’s computer lab. I took it upon myself to learn how to develop a website that would serve as a hub for our favorite games while bypassing our school’s website blocker filters.
                  br
                  br
                  | I had a lot of idea for projects that I wanted to build websites for but had no formal training. After being successful with building my first website at 13 by winging it, I decided I will just continue to teach myself as I go. That is about where all my web development knowledge comes from. Spending years thinking “Wouldn’t it be cool if I could do this?”, then figuring out a way to accomplish it. This process has taught me much more than I could imagine.  
            
            .section(data-cat="graphic")
              .section-content
                .title Media Production
                .desc
                  |  Along with Web Development, creating videos and digital images has always been another creative outlet for me. I started filming little shorts ever since I was a little kid. I never the content of my film/design projects too seriously but was always enthralled with learning all the technical skills for anything involved with media production.
                  br
                  br
                  | Every elective I was able to take in High School and College were focused on anything dealing with film, television, digital media/design, etc. Taking these classes has given myself enough knowledge to consider myself a ‘Jack of all Trades’ when it comes to every aspect of film and media production.
                  
            .section(data-cat="programming")
              .section-content
                .title Programming
                .desc
                  | Aside from my experience working with PHP and JavaScript while learning Web Development, I didn’t actually attain too much experience in programming until I started my Computer Science degree. After my University introduced me to C++, I quickly developed a strong interest in Object Oriented Programming. 
                  br
                  br
                  | School has given me an extensive amount of experience with C++ but I am currently taking it upon myself to learn the ins-and-outs of other languages, namely Java and Python, while staying current in school.
            
            .section(data-cat="contact")
              .section-content
                .title Contact Me
                .desc
                  |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eos, sequi quasi facilis, illum quisquam consequatur. Ipsam est quae quos, velit eum error corrupti totam incidunt laboriosam sunt, illo, id?

      
