.page.portfolio
  .page-content 
    .menu-wrap.portfolio
      .menu-links
        a.link(data-targ-page="home" href="#") Home
        a.link(data-targ-page="skills" href="#skills") Skills
        a.link(data-targ-page="about" href="#about") About
        //.link(data-targ-page="home")
          //a Home
        //.link(data-targ-page="skills")
          //a(href="#skills") Skills
        //.link(data-targ-page="about")
          //a(href="#about") About Me
      .show-menu

      
    .side-wrap.top
      .border-wrap.top
        .a
        .b
      .border-wrap.bottom
        .a
        .b
        
      .select-msg
        span SelecT SITe 
          br.larger-than-mobile-hide
          | BeLow
        
      .backdrop
        .item.ph(data-name="ph")
        .item.tj(data-name="tj")
        .item.vel(data-name="vel")
        .item.x1346(data-name="1346")
        .item.drunkdev(data-name="drunkdev")
        .item.texanne(data-name="texanne")
        .item.cms(data-name="cms")
        .item.stamos(data-name="stamos")
        .item.everhart(data-name="everhart")
        .item.designs(data-name="designs")
        
      // 'Hide' doesn't affect '.site-wrap's css. It affects its children
      .site-wrap.hide(data-has-scroll="true")
        .scroll-bar
          .tracer
        
            
        .side.left
          .logo
            .item.ph(data-name="ph")
            .item.tj(data-name="tj")
            .item.vel(data-name="vel")
            .item.x1346(data-name="1346")
            .item.drunkdev(data-name="drunkdev")
            .item.texanne(data-name="texanne")
            .item.cms(data-name="cms")
            .item.stamos(data-name="stamos")
            .item.everhart(data-name="everhart")
            .item.designs(data-name="designs")

          .accolades
            .item.ph(data-name="ph")
              .sub-item
                .ic.fav
                .text My best work so far.
              .sub-item
                .ic.check
                .text Great transitions, designs, and ajax scripts to make it feel like a video game.
    
              .sub-item
                .ic.warn
                .text Site not finished yet. Working on it though.
              .sub-item
                .ic.non-resp
                .text Not responsive yet. It will be though
            
            .item.tj(data-name="tj")
              .sub-item
                .ic.check
                .text Managed with 
                  span.text-wp WordPress
              .sub-item
                .ic.warn
                .text Never used by client
              .sub-item
                .ic.warn
                .text I did not design that logo and actively advocated against it.
              .sub-item
                .ic.resp
                .text Fully Responsive
                
            .item.vel(data-name="vel")
              .sub-item
                .ic.check
                .text Smooth transitions and animations
              .sub-item
                .ic.check
                .text Nice effects for enhaced gallery experience
              .sub-item
                .ic.warn
                .text Made solely for experience. It was never intended to be used for professional use.
              .sub-item
                .ic.resp
                .text Fully Responsive
              

            .item.x1346(data-name="1346")
              .sub-item
                .ic.check
                .text Smooth transitions and animations
              .sub-item
                .ic.warn
                .text Never officially used.
              .sub-item
                .ic.x
                .text Never finished. Never will be.
              .sub-item
                .ic.resp
                .text Mostly Responsive
                
            .item.drunkdev(data-name="drunkdev")
              .sub-item
                .ic.check
                .text Fun, clean, and original designs and animations.
              .sub-item
                .ic.x
                .text Not finished. Never will be.    
              .sub-item
                .ic.resp
                .text Mostly Responsive
                
            .item.texanne(data-name="texanne")
              .sub-item
                .ic.check
                .text Simple, yet elegant design.
              .sub-item
                .ic.check
                .text Managed with custom-made Content Management System.
              .sub-item
                .ic.warn
                .text Never used by client
              .sub-item
                .ic.resp
                .text Fully Responsive
                
            .item.cms(data-name="cms")
              .sub-item
                .ic.fav
                .text I made a whole content management system so users can manage posts and edit website design.
              .sub-item
                .ic.check
                .text Extensive 
                  span.text-php PHP 
                  | and 
                  span.text-ajax ajax 
                  | scripts to make managing websites easy. 
              .sub-item
                .ic.warn
                .text Analytics feature never finished. Never will be.
              .sub-item
                .ic.resp
                .text Fully Responsive
                
            .item.stamos(data-name="stamos")
              .sub-item
                .ic.check
                .text Simple game made completely with 
                  span.text-html HTML
                  | , 
                  span.text-css CSS
                  | , 
                  span.text-jquery jQuery
              .sub-item
                .ic.warn
                .text Completely useless and unprofessional. I still have no idea why I made it.
              .sub-item
                .ic.non-resp
                .text Not responsive... You need a keyboard to play.
                
            .item.everhart(data-name="everhart")
              .sub-item
                .ic.check
                .text Simple static website with clean design.
              .sub-item
                .ic.x
                .text Never finished because client didn't need it.
              .sub-item
                .ic.non-resp
                .text Slightly Responsive.

                
            .item.designs(data-name="designs")
              .sub-item
                .ic.fav
                .text My best UX work.
              .sub-item
                .ic.check
                .text Sleek professional design. (Maybe not the hero's background video) 
              .sub-item
                .ic.check
                .text Smooth and subtle animations to enhace design.
              .sub-item
                .ic.resp
                .text Fully Responsive
              
                
          .buttons-wrap
            a(target="_blank" href="#").see-more.box.visit VISIT SITe
            //a.see-more.box FeATUReS
            
          
        .side.right
          .box.desc-wrap
            .item.ph(data-name="ph")
              .title POWeR HOUR
              .desc
                | Power Hour is a drinking game where the players watch a playlist of music videos. Every minute the next video plays signaling the player to drink. I made this site to let users create custom playlists through an easy-to-use media app. All songs are saved to database from users pasting a YouTube link into the ‘contribute’ section. Makes use of YouTube API.
      
            .item.tj(data-name="tj")
              .title COUCH WARMeRS
              .desc
                | I created this site for my brother when he told me he wanted to create a sports blog. I thought this was the perfect opportunity for me to learn how to use WordPress. I created this as a static site originally then integrated WordPress to the site so he could manage his blogs easily… He never did.  
            
            .item.vel(data-name="vel")
              .title VeL S. IN THe CITY
              .desc
                | A fake website I created purely to learn 
                span.text-jquery jQuery 
                | and 
                span.text-css CSS 
                | animations. I got permission from my friend to use her hair business as the subject. All the logo and page designs are my own, but used stock photos as placeholders.
                
            .item.x1346(data-name="1346")
              .title 1346 DeSIGNS
              .desc
                | My first attempt at creating a web development business. Although I never finished it, designing the index and developing the ‘get a quote feature’ served as a very useful learning experience for me. 
                
            .item.drunkdev(data-name="drunkdev")
              .title DRUNKeN DeVeLOPMeNT
              .desc
                | Another unused attempt at starting a web development business/tutoring service. I created when I was obtaining my first degree. I based the whole concept around presenting myself as a facetious, yet, talented developer (hence the name). 
            
            .item.texanne(data-name="texanne")
              .title TeXANNe TRRAVeLeR
              .desc
                | I made this for an aspiring travel blogger. She wanted a design that wasn’t too flashy, but not too basic at the same time. I think I created a nice medium between the two. The site is fully integrated with my custom-made CMS. It wasn’t until I fully finished the site when she decided not to be a blogger.. 
              
            .item.cms(data-name="cms")
              .title DRUNKeN DeVeLOPMeNT CMS
              .desc
                | This is a Content Management System I created to help my future customers manage posts and directly style their site in a WYSIWYG fashion. At the time, I didn’t want to take the time to learn WordPress, so I thought it’d be easier to create my own version of it… I was wrong. I’m proud of it, though.
              
            .item.stamos(data-name="stamos")
              .title STAMOS HUNTeR
              .desc
                | One night, I realized I forgot to pay bills. So I sat down, opened my laptop, and created this idiotic game instead. This online game lets you play as a John Stamos stick figure that shoots tacos at Dave Coulier cats. It also features Bob Saget raptors. I have no idea why I created it, but it didn’t take too long and the late fees on the bills weren’t too high. No regrets. (Move with arrows. Space to shoot)
              
            .item.everhart(data-name="everhart")
              .title eVeRHART HAIR ARTISTRY
              .desc
                | A friend asked me create a simple website for her daughter’s hair salon business. After I sent the initial design for approval, I never heard from them again. Turns out they moved to another state.
              
            .item.designs(data-name="designs")
              .title THe MATT HASLeM DeSIGNS
              .desc
                | My latest attempt at setting up a Web Design business. Admittedly, I didn’t use it as I began working on other projects and attending school again. I do think it serves as a decent testament for my design abilities. 
              
          .stats-wrap
            .item.box.php
              .title PHP
              include ../stat_bar
            .item.box.jquery
              .title JQUeRY
              include ../stat_bar
            .item.box.ajax
              .title AJAX
              include ../stat_bar
      
    .side-wrap.bottom.mobile-hide
      .port-icons-wrap
        .row.top
          .item(data-targ="ph" data-php-stat="13" data-jquery-stat="15" data-ajax-stat="15" data-url="https://www.thematthaslem.com/ph2/")
            img(src="_pics/portfolio_items/ph.png")
          .item(data-targ="designs" data-php-stat="0" data-jquery-stat="9" data-ajax-stat="3" data-url="https://designs.thematthaslem.com/")
            img(src="_pics/portfolio_items/designs.png")
          .item(data-targ="tj" data-php-stat="12" data-jquery-stat="10" data-ajax-stat="0" data-url="https://www.thematthaslem.com/tj/")
            img(src="_pics/portfolio_items/tj.png")
          .item(data-targ="cms" data-php-stat="15" data-jquery-stat="15" data-ajax-stat="15" data-url="https://manage.drunkendevelopment.org/")
            img(src="_pics/portfolio_items/cms.png")
          .item(data-targ="stamos" data-php-stat="0" data-jquery-stat="15" data-ajax-stat="0" data-url="https://www.thematthaslem.com/stamoshunter/")
            img(src="_pics/portfolio_items/stamos.png")
          .item(data-targ="texanne" data-php-stat="0" data-jquery-stat="10" data-ajax-stat="0" data-url="https://www.drunkendevelopment.org/texanne/")
            img(src="_pics/portfolio_items/texanne.png")
        .row.bottom
          .item(data-targ="drunkdev" data-php-stat="0" data-jquery-stat="10" data-ajax-stat="0" data-url="https://www.drunkendevelopment.org/")
            img(src="_pics/portfolio_items/drunkdev.png")
          .item(data-targ="vel" data-php-stat="0" data-jquery-stat="7" data-ajax-stat="0" data-url="https://www.thematthaslem.com/1346/websites/vel/")
            img(src="_pics/portfolio_items/vel.png")
          .item(data-targ="1346" data-php-stat="0" data-jquery-stat="10" data-ajax-stat="0" data-url="https://www.thematthaslem.com/1346/")
            img(src="_pics/portfolio_items/1346.png")
          .item(data-targ="everhart" data-php-stat="0" data-jquery-stat="0" data-ajax-stat="0" data-url="https://www.thematthaslem.com/everhart/")
            img(src="_pics/portfolio_items/everhart.png")
 

    .side-wrap.bottom.mobile.larger-than-mobile-hide
      
      .open-button.portfolio
        .border-tracer
        .arrow-wrap
          include ../../_pics/_icons/up_arrow.svg
      .port-icons-wrap.mobile(data-has-scroll="true")
        .scroll-bar
          .tracer
        .item(data-targ="ph" data-php-stat="13" data-jquery-stat="15" data-ajax-stat="15" data-url="https://www.thematthaslem.com/ph2/")
          img(src="_pics/portfolio_items/ph.png")
          .desc
            .title Power Hour
            .accolade
              .ic.fav
              .text My best work so far.
        .item(data-targ="designs" data-php-stat="0" data-jquery-stat="9" data-ajax-stat="3" data-url="https://designs.thematthaslem.com/")
          img(src="_pics/portfolio_items/designs.png")
          .desc
            .title Matt Haslem Designs
            .accolade
              .ic.check
              .text Sleek professional design.
        .item(data-targ="tj" data-php-stat="12" data-jquery-stat="10" data-ajax-stat="0" data-url="https://www.thematthaslem.com/tj/")
          img(src="_pics/portfolio_items/tj.png")
          .desc
            .title Couch Warmers
            .accolade
              .ic.check
              .text Managed with 
                span.text-wp WordPress
        .item(data-targ="cms" data-php-stat="15" data-jquery-stat="15" data-ajax-stat="15" data-url="https://manage.drunkendevelopment.org/")
          img(src="_pics/portfolio_items/cms.png")
          .desc
            .title Drunken Development CMS
            .accolade
              .ic.check
              .text Extensive 
                span.text-php PHP 
                | and 
                span.text-ajax ajax 
                | scripts to make managing websites easy.
              
        .item(data-targ="stamos" data-php-stat="0" data-jquery-stat="15" data-ajax-stat="0" data-url="https://www.thematthaslem.com/stamoshunter/")
          img(src="_pics/portfolio_items/stamos.png")
          .desc
            .title Stamos Hunter
            .accolade
              .ic.check
              .text Simple game made completely with 
                span.text-html HTML
                | , 
                span.text-css CSS
                | , 
                span.text-jquery jQuery
        .item(data-targ="texanne" data-php-stat="0" data-jquery-stat="10" data-ajax-stat="0" data-url="https://www.drunkendevelopment.org/texanne/")
          img(src="_pics/portfolio_items/texanne.png")
          .desc
            .title Texanne Traveler
            .accolade
              .ic.check
              .text Simple, yet elegant design.
        .item(data-targ="drunkdev" data-php-stat="0" data-jquery-stat="10" data-ajax-stat="0" data-url="https://www.drunkendevelopment.org/")
          img(src="_pics/portfolio_items/drunkdev.png")
          .desc
            .title Drunken Developmen
            .accolade
              .ic.check
              .text Fun, clean, and original designs and animations.
        .item(data-targ="vel" data-php-stat="0" data-jquery-stat="7" data-ajax-stat="0" data-url="https://www.thematthaslem.com/1346/websites/vel/")
          img(src="_pics/portfolio_items/vel.png")
          .desc
            .title Vel S. in the City
            .accolade
              .ic.check
              .text Nice effects for enhaced gallery experience
        .item(data-targ="1346" data-php-stat="0" data-jquery-stat="10" data-ajax-stat="0" data-url="https://www.thematthaslem.com/1346/")
          img(src="_pics/portfolio_items/1346.png")
          .desc
            .title 1346 Designs
            .accolade
              .ic.check
              .text Smooth transitions and animations
        .item(data-targ="everhart" data-php-stat="0" data-jquery-stat="0" data-ajax-stat="0" data-url="https://www.thematthaslem.com/everhart/")
          img(src="_pics/portfolio_items/everhart.png")
          .desc
            .title Everhart Hair Artistry
            .accolade
              .ic.check
              .text Simple static website with clean design.
      
