.page.skills
  .background
    .cloud
      include ../../_pics/skills/cloud.svg
    .cloud
      include ../../_pics/skills/cloud.svg
    .cloud
      include ../../_pics/skills/cloud.svg
    .fg
      include ../../_pics/skills/skills_foreground.svg
      
  .page-content
    .menu-wrap.skills
      .menu-links
        a.link(data-targ-page="home" href="#") Home
        a.link(data-targ-page="portfolio" href="#portfolio") Portfolio
        a.link(data-targ-page="about" href="#about") About
      .show-menu
      
    .page-title-wrap.skills
      h1 Skills / Experience / Education
      
    
    .skills-wrap(data-has-scroll="true" data-scroll-dir="column" data-scroll-pos="inner")
      .scroll-bar
        .tracer
          
      h2 Programming / Web Development
      .skills-list
        .item.first C++
        .item Python
        .item HTML 
        .item CSS 
        .item JavaScript
        .item jQuery 
        .item PHP 
        .item mySQL
        .item WordPress
        .item Jade/PUG
        .item SCSS
        .item SASS
        .item Ajax
      
      h2 Design and Development Software
      .skills-list
        .item Adobe Visual Studio
        .item Adobe Eclipse
        .item Adobe Creative Cloud
        .item Adobe Illustrator
        .item Adobe Photoshop
        .item Adobe After Effects
        .item Adobe Premiere Pro
        .item Adobe Avid Media Composer
        
      h2 Digital Media Experience
      .skills-list
        .item Web Design 
        .item Web Programming 
        .item Responsive Design 
        .item Graphic Design 
        .item Video Production 
        .item Video Editing
        
      h2 Relevant Coursework & Experience
      .skills-list
        .item Problem Solving and Programming I & II
        .item Cybersecurity Fundamentals
        .item Object Oriented Program/Design
        .item Data Structures/Algorithms
        .item Internet Concepts
        .item Computer Architecture I
        .item Principle Programming Languages
        
      h2 Media Coursework
      .skills-list
        .item Video and Audio Editing
        .item TV News Production
        .item TV Production
        .item Advertising and Promotion
        .item Advanced Public Speaking
        .item Communication Research Methods
        .item Communications in Management
        .item Digital Writing
        .item Intro to Filmmaking
        .item Nontraditional Animation
        .item Producing Movies
        
        
      h2 Education
      .skills-list
        .item Bachelors of Science Degree - Communications (2011 - 2016)
        .item Bachelors of Science Degree - Computer Science (2020 - Dec 2021)
        
      
    
 
