//output: jq.js
$(document).ready(function(){
include _sections/0-dir                                                       
});                       
        
                             
                     
           
   
     
    
  
 
 
   
  
          
        
           
            
     
  
