script(src="_jquery/jquery-3.3.1.min.js")
script(src="https://code.jquery.com/jquery-1.11.3.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")

script(src="_jquery/jq.js")
