.overlay.about
  .scroll-bar(data-scroll-name="star-wars")
    .tracer

.star-wars-wrap(data-has-scroll="true" data-scroll-pos="inner" data-scroll-dir="column" data-scroll-targ="star-wars")
  .start-wars-text-wrap
    .title Matt Haslem
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vel. Aliquid, cumque voluptatum ipsa maiores sapiente ipsum nostrum, repellendus ab, sit non quisquam pariatur quo eveniet in, assumenda alias velit.
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vel. Aliquid, cumque voluptatum ipsa maiores sapiente ipsum nostrum, repellendus ab, sit non quisquam pariatur quo eveniet in, assumenda alias velit.
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vel. Aliquid, cumque voluptatum ipsa maiores sapiente ipsum nostrum, repellendus ab, sit non quisquam pariatur quo eveniet in, assumenda alias velit.
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vel. Aliquid, cumque voluptatum ipsa maiores sapiente ipsum nostrum, repellendus ab, sit non quisquam pariatur quo eveniet in, assumenda alias velit.
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vel. Aliquid, cumque voluptatum ipsa maiores sapiente ipsum nostrum, repellendus ab, sit non quisquam pariatur quo eveniet in, assumenda alias velit.
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vel. Aliquid, cumque voluptatum ipsa maiores sapiente ipsum nostrum, repellendus ab, sit non quisquam pariatur quo eveniet in, assumenda alias velit.
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vel. Aliquid, cumque voluptatum ipsa maiores sapiente ipsum nostrum, repellendus ab, sit non quisquam pariatur quo eveniet in, assumenda alias velit.
    .spacer
